@use"../../../style/var/var";

@mixin font-navbar {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    list-style: none;
}

@mixin font-navbar-global {
    cursor: pointer;
    @include font-navbar;
    text-decoration: none;
}

@mixin font-navbar-active {
    cursor: pointer;
    @include font-navbar;
    text-decoration: underline;
    text-underline-offset: 7px;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center; 
}
  

.navbar {
    width: 100%;
    background-color: #f1f3f2;
    display: flex;
    justify-content: center;

    &__container {
        display: flex;
        width: 100%;
        max-width: 1000px;
        justify-content: center;
        
        &__nav {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__list {
        display: flex;
        gap: 2rem;
        align-items: center;
        padding: 20px;

        &__item {
            @include font-navbar;

            .nav-link {
                @include font-navbar-global;
                color: var.$secondary-text-color;
            }
        }

        &__item-single {
            @include font-navbar;
            margin-left: 340px;

            .nav-link {
                @include font-navbar-global;
                color: var.$secondary-text-color;
            }
        }
    }

    &__button {
        display: flex;
        gap: 1rem;
        padding: 20px;
    }

}