@mixin font-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.1px;
    color: #4c4e4d;
}

.create-post {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 1000px;
    margin-top: 100px;
    margin-bottom: 100px;

    &__title {
        margin-bottom: 50px;
        & h1 {
            @include font-title;
            font-size: 40px;
            text-align: center;
        } 
    }

    &__button {
        margin-top: 100px;
        display: flex;
        justify-content: end;
        gap: 1rem;
    }

    &__forms {
        display: flex;
        flex-direction: column;
        gap: 3rem;

        &__item {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        &__quill {
            height: 500px;
            width: 100%;
        }
    }
}