@mixin font-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.1px;
    color: #454745;
}

@mixin font {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.1px;
    color: #454745;
}

.my-subscription {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 1000px;
    margin-bottom: 50px;

    &__title {
        margin-bottom: 100px;

        & h1 {
            @include font-title;
            font-size: 40px;
            text-align: center;
        }
    }

    &__content {
        padding: 20px;
        background-color: #f1f3f2;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        & h3 {
            @include font-title;
            font-size: 26px;
        }

        &__right {

            & h3 {
                @include font;
                font-size: 22px;
            }

            display: flex;
            align-items: center;
            gap: 1rem;
        }
    }

    &__button {
        display: flex;
        justify-content: flex-end;
        margin-top: 50px;
    }
}