@mixin font-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.1px;
    color: #4c4e4d;
}

.admin-post{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 1000px;
    width: 100%;
    margin-bottom: 100px;

    &__title {
        display: flex;
        justify-content: center;
        & h1 {
            @include font-title;
            font-size: 40px;
        }
    }

    &__content {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: flex-end;
    }
}