@mixin font-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.1px;
    color: #4c4e4d;
}

.admin-post{
    margin-top: 50px;
    display: flex;
    flex-direction: column;

    &__title {
        & h1 {
            @include font-title;
            font-size: 40px;
        }
    }

    &__content {

    }
}