@mixin font-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.1px;
    color: #454745;
}

@mixin font {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.1px;
    color: #454745;
}

.payment {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    width: 100%;
    max-width: 1000px;

    &__title {
        & h1 {
            @include font-title;
            font-size: 40px;
            text-align: center;
        }
    }

    &__content {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        & h3 {
            @include font;
            font-size: 28px;
        }
    }

    &__button {
        display: flex;
        justify-content: flex-end;
        margin-top: 20%;
    }
}