@use"../../../style/var/var";

@mixin font {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.1px;
    color: #4c4e4d;
}

@mixin font-lite {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.1px;
    color: #4c4e4d;
}

.auth {
    background-color: #4f7177;
    padding: 5px 20px;
    border-radius: 5px;
    flex: none;
    flex-grow: 0;
    border: none;
    cursor: pointer;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.login {
    @include font;
    width: 100%;
    height: 50px;
    background-color: #ffec00;
    border: none;
    border-radius: 7px;
}

.subscribe {
    @include font;
    width: 150px;
    height: 30px;
    border: none;
    background-color: #ffec00;
    font-size: 18px;
}

.table-button {
    @include font;
}

.create-post-button {
    @include font;
    font-size: 18px;
    width: 200px;
    height: 50px;
}