@import "../../../style/var/var";

@mixin font-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.1px;
    color: #4c4e4d;
}

@mixin font-sub-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.1px;
    color: #4c4e4d;
}

@mixin font {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.1px;
    color: #4c4e4d;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    background-color: #fffce2;
    width: 30%;
    padding: 50px;
    border: 2px solid #ffec00;

    &__title {
        @include font-title;
        font-size: 40px;
    }

    &__sub-title {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;

        & h3 {
            @include font-sub-title;
        }

        & p {
            @include font
        }
    }

    &__forms {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    
}