@mixin font-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.1px;
    color: #454745;
}

@mixin font-sub-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #454745;
}

@mixin font {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.1px;
    color: #454745;
}

.detail {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    margin: 50px;

    &__title {
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        & h1 {
            @include font-title;
            font-size: 38px
        }

        & h3 {
            @include font-sub-title;
            font-size: 24px;
        }

        .author {
            font-size: 18px !important;

            &__name {
                color: #4f7177 !important;
            }
        }

    }

    &__main-section {
        display: flex;
        height: 100%;

        &__left {
            width: 70%;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding: 20px;

            &__content {
                @include font;
                font-size: 16px;
                
                & p {
                    @include font;
                    font-size: 16px;
                }
            }
        }

        &__right{
            width: 30%;
            padding: 20px;
        }
    }
}