@mixin font-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #454745;
}

.post-list {
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;

    &__title {
        display: flex;
        align-items: center;
        gap: 1.5rem;

        & h3 {
            @include font-title;
            font-size: 28px;
        }

        &__line {
            flex: 1;
            width: 100%;
            height: 5px;
            background-color: #fff104;
        }
    } 

    &__container {
        display: flex;
        margin-top: 30px;
        gap: 1rem;

        &__left {
            width: 70%;
        }

        &__right {
            width: 30%;
            display: flex;
            flex-direction: column;
            
            .filter-container {
                background-color: #fff104;
                width: 100%;
                height: 500px;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                padding: 2rem;
            }
        }
    }
}


