.form {
    width: 100%;

    & input {
        width: 100%;
        height: 50px;
        background-color: #FFFFFF;
        border: 1px solid #4F4F4F;
        border-radius: 5px;
        padding-left: 20px;
    }

    & input::placeholder {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        letter-spacing: 0.2px;
        color: #737373;
    }

    .auth-form {
        background-color: white;
        border: 1px solid #4c4e4d;
    }

    .filter-form {
        background-color: #fffce2;
        border: 1px solid #4c4e4d;
    }

    .show-error {
        border: 1px solid red !important;
    }

    &__error {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #EB5757;
        flex: none;
        order: 2;
        flex-grow: 0;
        margin-top: 5px;
    }
}




