@mixin font-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.1px;
    color: #4c4e4d;
}

.create-post {

    & h3 {
        @include font-title;
        font-size: 24px;
    }

    &__title {
        margin-bottom: 50px;
        & h1 {
            @include font-title;
            font-size: 40px;
            text-align: center;
        } 
    }

    &__button {
        margin-top: 100px;
        display: flex;
        justify-content: end;
        gap: 1rem;
    }

    &__forms {
        display: flex;
        flex-direction: column;
        gap: 3rem;

        &__item {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        &__quill {
            height: 500px;
            width: 100%;
        }

        &__image {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }

    &__spinner {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); // semi-transparent black color
    z-index: 9998; // below the spinner but above other content
  }