@mixin font-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.1px;
    color: #454745;
}

@mixin font {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.1px;
    color: #454745;
}

.qr-modal {
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    &__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 26px;
        letter-spacing: 0.2px;
        color: #737373;
        margin-bottom: 10px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        height: 574px;
        background: #FFFFFF;
        box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
        border-radius: 15px;
        align-items: center;
        justify-content: center;
        padding: 50px 40px;
        width: 488px;
        gap: 5rem;

        &__button {
            margin-top: 40px;
            display: flex;
            gap: 40px;
    
        }
    }
}